#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "photoview"
name = "Photoview"
description.en = "Simple and user-friendly photo gallery that's made for photographers "
description.fr = "Galerie photos simple et facile à utiliser, faite pour les photographes"

version = "2.4.0~ynh4"

maintainers = ["Jules Bertholet"]

[upstream]
license = "AGPL-3.0-only"
website = "https://photoview.github.io/"
demo = "https://photos.qpqp.dk/"
admindoc = "https://photoview.github.io/docs/"
code = "https://github.com/photoview/photoview"
fund = "https://github.com/sponsors/viktorstrate"

[integration]
yunohost = ">= 11.2.12"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "1000M"
ram.build = "2000M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.mapbox_token]
    ask.en = "Mapbox API token"
    ask.fr = "Clé API Mapbox"
    help.en = "Required for mapping features. You can get one for free at https://www.mapbox.com/"
    help.fr = "Nécessaire pour les fonctionnalités cartographiques. Vous pouvez en obtenir une gratuitement à https://www.mapbox.com/"
    type = "string"
    default = ""
    optional = true

[resources]
    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/photoview/photoview/archive/refs/tags/v2.4.0.tar.gz"
    sha256 = "954d1640a1eaef145bdcb3fc6b7e2478cfd05f6709a9a2955c83bb3666b49b62"

    autoupdate.strategy = "latest_github_release"

    [resources.sources.libheif]
    url = "https://github.com/strukturag/libheif/releases/download/v1.19.2/libheif-1.19.2.tar.gz"
    sha256 = "f73eb786e75ef1f815ed3d37aca9eadd41dc1d26dfde11f8a4f92f911622d19e"

    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/strukturag/libheif"
    autoupdate.asset = ".*\\.tar\\.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["media_cache"]

    [resources.permissions]
    main.url = "/"

    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.protected = true

    share.url = "/share"
    share.allowed = "visitors"
    share.auth_header = false
    share.protected = true

    [resources.ports]
    main.default = 4001

    [resources.apt]
    packages = [
        "curl",
        "gpg",
        "ffmpeg",
        "exiftool",
        "libheif1",
        "ca-certificates",
        "golang",
        "libdlib-dev",
        "libblas-dev",
        "libatlas-base-dev",
        "liblapack-dev",
        "libjpeg-dev",
        "libheif-dev",
        "build-essential",
        "pkg-config",
        "cmake",
        "ninja-build",
        "libx265-dev",
        "libde265-dev",
        "libaom-dev",
        # "darktable",
        "mariadb-server",
    ]

    packages_from_raw_bash = """
    if [[ $YNH_DEBIAN_VERSION == "bullseye" ]]; then
        echo "libdlib19";
    elif [[ $YNH_DEBIAN_VERSION == "bookworm" ]]; then
        echo "libdlib19.1";
    fi
    """

    [resources.apt.extras.yarn]
    repo = "deb https://dl.yarnpkg.com/debian/ stable main"
    key = "https://dl.yarnpkg.com/debian/pubkey.gpg"
    packages = "yarn"

    [resources.database]
    type = "mysql"
