[Unit]
Description=Photoview photo manager API
After=network.target mysql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/live
EnvironmentFile=__FINALPATH__/.env
ExecStart=__FINALPATH__/live/photoview
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
