[Unit]
Description=Photoview photo manager API
After=network.target mysql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/output
EnvironmentFile=__INSTALL_DIR__/output/.env
ExecStart=/usr/bin/env bash -c "LD_LIBRARY_PATH=__INSTALL_DIR__/local/lib:$LD_LIBRARY_PATH __INSTALL_DIR__/output/photoview"
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
